[submodule "smartcontract/lib/openzeppelin-contracts"]
	path = smartcontract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "smartcontract/lib/chainlink-brownie-contracts"]
	path = smartcontract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "smartcontract/lib/solmate"]
	path = smartcontract/lib/solmate
	url = https://github.com/transmissions11/solmate
